div {
  width: 400px;
  height: 400px;
  background-color: turquoise;
  border-radius: 120%;
  border: 20px groove steelblue;
  background-image: url("/017_exercise-V.062+063/sc.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}