body {
    font-weight: bold;
    font-family: sans-serif;
}
header, article, aside {
    padding: 20px;
    text-align: center;
}
header {
    background: skyblue;
    font-size: 1cm;
    text-decoration: underline;
}
article {
    text-align: center;
    background: lightblue;
}
aside:nth-child(3) {
    background: rgb(112, 158, 198);
    text-align: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
aside:nth-child(4) {
    background: lightseagreen;
    text-align: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
footer {
    background-color: rgb(147, 209, 230);
    font-size: 0.3cm;
    text-align: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
ul {
  justify-content: center;
  list-style: none;
}
a {
  text-decoration: none;
  padding: 20px 0;
  color: black;
  padding: 15px;
  font-family: sans-serif;
  font-size: 1.1em;
  text-align: center;
  border-top: 4px solid rgba(255,255,255,0.3);
  border-bottom: 4px solid rgba(0,0,0,0.1);
  border-left: 4px solid rgba(255,255,255,0.3);
  border-right: 4px solid rgba(0,0,0,0.1);
  display: block;
}
a:hover {
  background: royalblue;
}
