.c1 {
  background-color: #fa0000;
  order: 1;
}
.c2 {
  background-color: #d509d5;
  order: 2;
}
.c3 {
  background-color: #021cde;
  order: 3;
}
.c4 {
  background-color: #08deed;
  order: 4;
}
.c5 {
  background-color: #06ee22;
  order: 5;
}
.c6 {
  background-color: #daed08;
  order: 6;
}
.c7 {
  background-color: #fe8e05;
  order: 7;
}