body {
  display: flex;
  flex-flow: row wrap;
}

div {
  width: 100%;
  order: 7;
  /* formatting */
  height: 100px;
  text-align: center;
  line-height: 125px;
  color: red;
  font-size: 1cm;
  font-weight: bold;
}