html, body, div {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 0;
  border: 5px solid blue;
  margin: 0 auto;
}

.c1, .c2, .c3, .c4, .c5, .c6, .c7 {
  width: 100%;
  min-height: 90px;
}
div {
  color: black;
  font-size: 3rem;
  font-style: normal;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}