.c1 {
  background-color: #fa0000;
}
.c2 {
  background-color: #d509d5;
}
.c3 {
  background-color: #021cde;
}
.c4 {
  background-color: #08deed;
}
.c5 {
  background-color: #06ee22;
}
.c6 {
  background-color: #daed08;
}
.c7 {
  background-color: #fe8e05;
}